# Ignore macOS files
.DS_Store

# VSCode files
.history
.vscode

# ignore binaries per week
/cs-50/week-*/*
# unignore sources per week
!/cs-50/week-*/*.c 
# unignore run scripts per week
!/cs-50/week-*/*.sh 
# unignore headers per week
!/cs-50/week-*/*.h 
# unignore static assets per week
!/cs-50/week-*/images/*
!/cs-50/week-*/dictionaries
!/cs-50/week-*/texts
# ignore nand-2-tetris tools folder
/nand2tetris/tools/*
